.blogSection {
    padding: 80px 20px;
  }
  
  .posts {
    display: grid;
    gap: 40px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .post {
    background-color: #fff;
    padding: 20px;
    border: 1px solid var(--accent-color);
    border-radius: 8px;
  }
  