.home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 80px 20px;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.profileImage {
  max-width: 250px;
  border-radius: 0;
}

.textContent {
  flex: 2;
  padding: 20px;
}

.textContent p {
  color: var(--secondary-color);
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
  }

  .textContent {
    padding: 0;
    text-align: center;
  }
}
