.projects {
  padding: 80px 20px;
  background-color: var(--background-color);
}

.sectionTitle {
  text-align: center;
  margin-bottom: 60px;
  font-size: 2.5rem;
  color: var(--primary-color);
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.projectCard {
  background-color: #fff;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.projectCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.imageContainer {
  position: relative;
  overflow: hidden;
  /* Set a fixed height for the image container */
  height: 500px; 
}

.projectImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 45, 45, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer:hover .overlay {
  opacity: 1;
}

.projectLinks {
  display: flex;
  gap: 20px;
}

.projectLinks a {
  color: #fff;
  font-size: 2rem;
  transition: color 0.3s;
}

.projectLinks a:hover {
  color: var(--accent-color);
}

.projectContent {
  padding: 20px;
}

.projectContent h3 {
  margin-top: 0;
  font-size: 1.8rem;
  color: var(--primary-color);
}

.projectContent p {
  color: var(--secondary-color);
  margin-bottom: 0;
}

/* Responsive adjustments */

@media (max-width: 768px) {
  .projects {
    padding: 60px 10px;
  }

  .sectionTitle {
    font-size: 2rem;
  }

  .projectContent h3 {
    font-size: 1.5rem;
  }

  .projectLinks a {
    font-size: 1.5rem;
  }

  .imageContainer {
    height: 180px; /* Adjust for smaller screens */
  }
}

@media (max-width: 480px) {
  .projects {
    padding: 40px 5px;
  }

  .sectionTitle {
    font-size: 1.8rem;
  }

  .projectContent h3 {
    font-size: 1.2rem;
  }

  .projectLinks a {
    font-size: 1.2rem;
  }

  .imageContainer {
    height: 150px; /* Adjust for smaller screens */
  }
}
